.box {
    background-color: 	#ccff99; 
    color: #111;

    
    border-radius: 15px;
}

ul {
    list-style-type: none;
}

.userID {
font-weight: 500;
font-size: 18px;

}

.title {
    font-weight: 700;
    font-size: 20px;
}

.text {
    font-weight: 400;
    font-size: 19px
}