.box{
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #5CA4EA;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}
.box:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

ul {
    list-style-type: none;
}

.userID {
font-weight: 500;
font-size: 18px;

}

.title {
    font-weight: 700;
    font-size: 20px;
}

.text {
    font-weight: 400;
    font-size: 19px
}