<div>
    <form (ngSubmit)="submitForm(reactivForm)"  [formGroup]="reactivForm">
        <label>Title</label>
        <br>
        <input type="text" formControlName="title" id="title" placeholder="Enter post title"  >
        <p class="error" *ngIf="title.invalid && title.touched" > Please write at least two characters in this field </p>
        <br>
        <label>Post Text</label>
        <br>
        <input type="text" formControlName="body" id="body" placeholder="Write your post" >
       <p class="error"*ngIf="body.invalid && body.touched"> Please write at least 10 characters </p>
        <br> 
        
        <button  type="submit" class="btn" [disabled]="reactivForm.invalid" >Submit Post</button>
    </form>
</div>
