<div>
    <form (ngSubmit)="submitForm(form)" #form="ngForm">
        <br>
        <label>Title</label>
        <br>
        <input type="text" name="title" id="title" placeholder="Enter post title" ngModel required>
        <br>
        <label>Post Text</label>
        <br>
        <input type="text" name="body" id="body" placeholder="Write your post" ngModel required>
        <br> 
        
        <button  type="submit" class="btn" [disabled]="form.invalid">Submit Post</button>
    </form>
</div>
